@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

.container {
  text-align: center;
  background-color: #ddd0c8;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem auto 0;
  width: 50%;
  position: relative;
}

.home-container {
  
  display: flex;
  align-items: center;
  min-height: inherit;
}

.home-nav{
  padding: 0.5rem 1rem 1rem;
  justify-content: center;
  position: fixed;
  width: 100vw;
}

.home-container ul{
  background-color: #ddd0c8;
  min-width: fit-content;
  width: 35%;
  padding: 3rem;
  list-style: none;
  font-size: 2rem;
  font-weight: 500;
}

.home-container li{
  padding: 1rem;
}

.home-container img{
  width: 39rem;
  position: relative;
  left: -15.8rem;
  top: 2.4rem;
  opacity: 0.6;
}

a{
  color: #323232;
  text-decoration: none;
}

a:hover, .active{
  font-weight: 700;
}

nav{
  display: flex;
  background-color: #cfa78d;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;
}

.nav-logo{
  font-size: 1.5rem;
  font-weight: 900;
  margin-top: 0.5rem;
}

.nav-logo img{
  margin-bottom: -0.4rem;
  margin-left: 0.3rem;
}

nav ul{
  display: flex;
  list-style: none;
  min-width: 60%;
  justify-content: space-evenly;
  padding-left: 0;
}


body {
  font-family: "Roboto", sans-serif;
  background-color: #323232;
  color: #323232;
  margin: 0;
  min-height: 100vh;
}

h1 {
  padding: 1.5rem 0 2rem;
  margin: 0;
}

label {
  font-size: 1rem;
  font-weight: 500;
}

input {
  margin: 0.5rem;
  padding: 0.4rem;
  width: 7rem;
  text-align: center;
  font-weight: 700;
  background-color: #cfa78d;
}

button {
  background-color: #323232;
  color: #ddd0c8;
  font-weight: 700;
  padding: 0.4rem 1.5rem;
  font-size: 1rem;
  margin: 1rem;
}

#output {
  padding: 1rem 0 2rem;
  font-weight: 900;
}

.quiz-form{
  padding-bottom: 1.5rem;
}

.quiz-form input{
  width: unset;
}

.quiz-form label{
  font-weight: 300;
}

.quiz-form p{
  font-weight: 500;
}

p img{
  width: 1rem;
  margin-bottom: -2px;
  margin-right: 6px;
}

@media screen and (max-width: 768px){
  .nav-logo:not(.home-nav .nav-logo), .home-container img{
    display: none;
  }

  nav ul{
    width: 100%;
    flex-wrap: wrap;
  }

  nav li{
    padding: 0.5rem 1rem;
  }

  .container{
    width: 80%;
    margin: 2rem auto 0;
  }

  .home-container{
    align-items: start;
  }

  .home-container ul{
    width: 100%;
  }
}